<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Forgot Password</title>
</head>

<body>
    <%- include("../../components/header") %>
    <main>
        <%- include("../../components/nav") %>
        <form method="post" action="/forgot-password" class="users-form">
            <h2>Find your Account</h2>
            <label for="email">Enter your Email</label>
            <input type="text" autocomplete="off" placeholder="Email" name="email" id="email" required />

            <label for="username">Enter your username</label>
            <input type="text" autocomplete="off" placeholder="Username" name="username" id="username" required />

            <% if (typeof errEmail=='string' && errEmail) { %>
            <p class="users-form__error"><%= errEmail %> </p>
            <% } %>

            <% if (typeof invalidCheck == 'string' && invalidCheck) { %>
            <p class="users-form__error">
                <strong><%= invalidCheck %></strong>
            </p>
            <% } %>

            <% if (typeof errUser=='string' && errUser) { %>
            <p class="users-form__error"><%= errUser %> </p>
            <% } %>

            <button type="submit">Submit</button>
        </form>
    </main>
    <script src="../../components/scripts_links.ejs"></script>
</body>

</html>