<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>User</title>
</head>

<body>
    <%- include("../../components/header", isLoggedIn, user) %>
    <main>
        <%- include("../../components/nav") %>
        <article>
            <article class="card__list">
                <div class="card__profile">
                    <header class="profile__header">
                        <img src="../images/<%= userInfo.profile_image %>.png" alt="" width="75">
                        <div class="profile__details">
                            <h4><%= userInfo.name %></h4>
                            <p><%= userInfo.username %></p>
                        </div>
                        <i class="fas fa-flag profile__flag" id="report"></i>

                        <div class="reportShow" id="reportget">
                            <div class="reportdata">
                                <div class="report-header">
                                    <span class="close-report">&times;</span>
                                    <h1>Report This User</h1>
                                    <p>Help us understand the problem. What issue with <a
                                            href="/users/<%= userInfo.user_id %>"><%= userInfo.username %></a></p> are
                                    you
                                    reporting?</p>
                                </div>
                                <div class="report-body">
                                    <% if (userInfo.user_id == user.user_id) { %>
                                    <form action="/users/report/<%= userInfo.user_id %>" method="POST">
                                        <p id="reporterr">you can't report yourself</p>
                                        <div id="submit" style="margin: 20px auto;"></div>
                                    </form>
                                    <% } else { %>
                                    <form action="/users/report/<%= userInfo.user_id %>  " method="POST">
                                        <p id="reporterr"></p>
                                        <br>
                                        <input type="radio" id="info1" name="description" autocomplete="off"
                                            value="I'm not interested in this account" required>
                                        <label for="info1">I'm not interested in this account</label><br><br>
                                        <input type="radio" id="info2" name="description" autocomplete="off"
                                            value="This user is a popsicle spammer">
                                        <label for="info2">This user is a popsicle spammer</label><br><br>
                                        <input type="radio" id="info3" name="description" autocomplete="off"
                                            value="It appears their account is hacked">
                                        <label for="info3">It appears their account is hacked</label><br><br>
                                        <input type="radio" id="info4" name="description" autocomplete="off"
                                            value="They're pretending to be me or someone else">
                                        <label for="info4">They're pretending to be me or someone else</label><br><br>
                                        <input type="radio" id="info5" name="description" autocomplete="off"
                                            value="Their posts are abusive or hateful">
                                        <label for="info5">Their posts are abusive or hateful</label><br><br>
                                        <input type="radio" id="info6" name="description" autocomplete="off"
                                            value="Their profile images include abusive or hateful content">
                                        <label for="info6">Their profile images include abusive or hateful
                                            content</label><br>
                                        <div class="report-button">
                                            <button type='submit' id='submit' class='btnreport'>Submit</button>
                                        </div>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <% if (userInfo.user_id === userInfo.user_id) { %>
                        <a href="/users/<%= userInfo.user_id %>/edit"><i class="far fa-edit"></i></a>
                        <% } %>

                        <% if (typeof follow == 'object' && follow) { %>
                        <% let filteredFollow = follow.filter((v) => { return v.user_id === userInfo.user_id }) %>
                        <% if (filteredFollow.length > 0) { %>
                        <% followStatus = "Unfollow" %>
                        <% } else { %>
                        <% followStatus = "Follow" %>
                        <% } %>
                        <% } else { %>
                        <% followStatus = "Follow" %>
                        <% } %>
                        <% if (isLoggedIn) { %>
                        <% if (followStatus === "Unfollow") { %>
                        <button data-follow-status="<%= followStatus %>" data-user-id="<%= userInfo.user_id %>"
                            onclick="follow(event)"
                            class="profile__follow profile__follow--active"><%= followStatus %></button>
                        <% } else { %>
                        <button data-follow-status="<%= followStatus %>" data-user-id="<%= userInfo.user_id %>"
                            onclick="follow(event)" class="profile__follow"><%= followStatus %></button>
                        <% } %>
                        <% } else { %>
                        <a class="login" href="/auth/login">Follow</a>
                        <% } %>
                    </header>
                    <div class="profile__stats">
                        <div>
                            <h2><%= userInfo.Followers %></h2>
                            <p>Followers</p>
                        </div>
                        <div>
                            <h2><%= userInfo.Likes %></h2>
                            <p>Likes</line-height cssp>
                        </div>
                        <div>
                            <h2><%= userInfo.Posts %></h2>
                            <p>Post Created</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>My Albums</p>
                </div>
                <div class="album__card">
                    <% albums.forEach(item => { %>
                    <div class="item">
                        <a href="/album/<%= item.album_id %>">
                            <div class="img-album">
                                <img src="/images/album<%= item.album_cover %>.png" alt="" width="100%" height="200px"
                                    style="border-radius: 5px;">
                            </div>
                            <div class="album-content">
                                <h1><%= item.album_name %> </h1>
                                <p><%= item.album_description %> </p>
                            </div>
                        </a>
                    </div>
                    <% }) %>

                    <div class="item-select">
                        <a href="/createalbum">
                            <p>+ Add New Album</p>
                        </a>
                    </div>
                </div>
                <div>
                    <p>My Posts</p>
                </div>
                <% posts.forEach(item => { %>
                <% if (typeof likes == 'object' && likes) { %>
                <% let filtered = likes.filter((v) => { return v.post_id === item.post_id }) %>
                <% if (filtered.length > 0) { %>
                <% status = "Unlike" %>
                <% } else { %>
                <% status = "Like" %>
                <% } %>
                <% } else { %>
                <% status = "Like" %>
                <% } %>
                <div class="card card__post">
                    <div class="card__like">
                        <% if (isLoggedIn) { %>
                        <% if (status === "Unlike") { %>
                        <i class="fas fa-heart active" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                            data-post-status="<%= status %>"></i>
                        <% } else { %>
                        <i class="far fa-heart" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                            data-post-status="<%= status %>"></i>
                        <% } %>
                        <% } else { %>
                        <a href="/auth/login"><i class="far fa-heart"></i></a>
                        <% } %>
                        <p id="likes-count-<%= item.post_id %>"><%= item.likes %></p>
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h3><%= item.post_title %> </h3>
                            <div>
                                <a href="/posts/report/<%= item.post_id %>"><i class="fas fa-flag post__flag"
                                        role="button"></i></a>
                                <a href="/posts/<%= item.post_id %>/edit"><i class="fas fa-edit" role="button"></i></a>
                                <i class="far fa-trash-alt" role="button"
                                    onclick=<%='del(' + item.post_id + ',' + item.user_id + ')' %>></i>
                            </div>
                        </div>

                        <% if (item.post_file) { %>
                        <div class="card__postingan">
                            <img src="../images/imgPost/<%= item.post_file %>" id="postingan">
                        </div>
                        <% } %>
                        <p><%= item.post_content %> </p>
                        <hr>
                        <div class="card__info">
                            <img src="../images/<%= item.profile_image %>.png" alt="" width="40">
                            <p>Posted By <a href="/users/<%= item.user_id %>"><%= item.username %> </a></p>
                            <a href="/posts/<%= item.post_id %>"><i class="far fa-comment-alt"></i></a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </article>
        </article>
        <div><a class="createpost" href="/posts/create">Create a New Post</a></div>
    </main>
    <%- include("../../components/scripts_links") %>
    <script>
        const error = 'please select one of the following options';
        const errTitle = document.getElementById('reporterr');
        let hear = document.getElementsByName('description');
        let is_checked = false;

        let button = document.getElementById('submit');
        button.onclick = function () {
            for (let i = 0; i < hear.length; i++) {
                if (hear[i].checked) {
                    is_checked = true;
                    break;
                };
                if (!is_checked) {
                    errTitle.innerHTML = error;
                };
            };
        };

        let content = document.getElementById('reportget');

        let icon = document.getElementById('report');

        let stop = document.getElementsByClassName('close-report')[0];

        icon.onclick = function () {
            content.style.display = 'block';
        };

        stop.onclick = function () {
            content.style.display = 'none';
        };

        window.addEventListener('click', function (e) {
            if (e.target == content) {
                content.style.display = 'none';
            }
        });

        let del = (id, user_id) => {
            axios.delete('/posts/' + id + '/' + user_id)
                .then((result) => {
                    location.reload();
                }).catch((err) => {
                    alert('error ' + err)
                });
        };
    </script>
</body>

</html>