<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Register</title>
</head>

<body>
    <%- include("../components/header") %>
    <main>
        <%- include("../components/nav") %>
        <div class="center">
            <form action="/auth/register" method="post" class="users-form">
                <h2>Register</h2>
                <label for=" username">Username</label>
                <input type="text" autocomplete="off" placeholder="Username" name="username" id="username" required />
                <% if (typeof errUser=='string' && errUser) { %>
                <p class="users-form__error"><%= errUser %> </p>
                <% } %>
                <label for="name">Full Name</label>
                <input type="text" autocomplete="off" placeholder="Full Name" name="name" id="name" required />
                <label for="email">Email</label>
                <input type="text" autocomplete="off" placeholder="Email" name="email" id="email" required />
                <% if (typeof errEmail=='string' && errEmail) { %>
                <p class="users-form__error"><%= errEmail %> </p>
                <% } %>
                <label for="password">Password</label>
                <input type="password" autocomplete="off" placeholder="Password" name="password" id="password"
                    required />
                <% if (typeof errPass =='string' && errPass ) { %>
                <p class="users-form__error"><%= errPass  %> </p>
                <% } %>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" autocomplete="off" placeholder="Confirm Password" name="confirmPassword"
                    id="confirmPassword" required />
                <% if (typeof errPassMatch=='string' && errPassMatch ) {%>
                <p class="users-form__error"><%= errPassMatch %></p>
                <% } %>
                <button type="submit">Register</button>
            </form>
        </div>
    </main>
    <%- include("../components/scripts_links.ejs") %>
</body>

</html>