<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../css/style.css">
    <title>Edit Post</title>
</head>

<body>
    <%- include("../../components/header", isLoggedIn, user) %>
    <main>
        <%- include("../../components/nav") %>
        <div class="center">
            <div class="users-form form__create">
                <textarea name="title" id="title" rows="1" placeholder="Title"
                    required><%= data.post_title %></textarea>
                <p id="errTitle"></p>
                <% if (typeof errTitle == 'string' && errTitle) { %>
                <p><%= errTitle %> </p>
                <% } %>
                <textarea placeholder="Description" name="description" id="description" cols="30" rows="15"
                    required><%= data.post_content %> </textarea>
                <p id="errDesc"></p>
                <% if (typeof errDesc == 'string' && errDesc) { %>
                <p id="errDesc"><%= errDesc %> </p>
                <% } %>
                <button onclick=<%="edit("+ data.post_id + "," + data.user_id +")"%>>Edit Post</button>
            </div>
        </div>
    </main>
    <%- include("../../components/scripts_links.ejs") %>
    <script>
        let edit = (id, user_id) => {
            axios({
                method: 'put',
                url: '/posts/' + id + "/" + user_id + "/edit",
                data: {
                    title: document.getElementById('title').value,
                    description: document.getElementById('description').value
                }
            })
                .then((result) => {
                    let errTitle = "Title length must be between 5 and 255 characters";
                    let errDesc = "Description length must be between 5 and 1000 characters";

                    if (result.data.status == 404 && result.data.error === errTitle) {
                        document.querySelector("p#errTitle").innerHTML = errTitle;
                    } else if (result.data.status == 404 && result.data.error === errDesc) {
                        document.querySelector("p#errDesc").innerHTML = errDesc;
                    } else if (result.data.status == 200) {
                        window.location = "/posts/" + id;
                    }
                })
                .catch((err) => {
                    alert('error' + err)
                });
        };
    </script>
</body>

</html>