<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>

<body>
    <%- include("../../components/header", isLoggedIn, user, search) %>
    <main>
        <%- include("../../components/nav") %>
        <div class="card__list">
            <% posts.forEach(item => { %>

            <% if (typeof likes == 'object' && likes) { %>
            <% let filtered = likes.filter((v) => { return v.post_id === item.post_id }) %>

            <% if (filtered.length > 0) { %>
            <% status = "Unlike" %>
            <% } else { %>
            <% status = "Like" %>
            <% } %>
            <% } else { %>
            <% status = "Like" %>
            <% } %>

            <div class="card card__post">
                <div class="card__like">

                    <% if (isLoggedIn) { %>
                    <% if (status === "Unlike") { %>
                    <i class="fas fa-heart active" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                        data-post-status="<%= status %>"></i>
                    <% } else { %>
                    <i class="far fa-heart" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                        data-post-status="<%= status %>"></i>
                    <% } %>

                    <% } else { %>
                    <a href="/auth/login"><i class="far fa-heart"></i></a>
                    <% } %>

                    <p id="likes-count-<%= item.post_id %>"><%= item.likes %></p>
                </div>

                <div class="card__content">
                    <div class="card__header">
                        <h3><%= item.post_title %> </h3>
                        <div>
                            <a href="/posts/report/<%= item.post_id %>"><i class="fas fa-flag post__flag"
                                    role="button"></i></a>
                            <% if (isLoggedIn) { %>
                            <% if (item.user_id === user.user_id) { %>
                            <a href="/posts/<%= item.post_id %>/<%= item.user_id %>/edit"><i class="fas fa-edit"
                                    role="button"></i></a>
                            <i class="far fa-trash-alt" role="button"
                                onclick=<%='del(' + item.post_id + ',' + item.user_id +')' %>></i>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <% if (item.post_file) { %>
                    <div class="card__postingan">
                        <img src="../images/imgPost/<%= item.post_file %>" id="postingan">
                    </div>
                    <% } %>
                    <p><%= item.post_content %></p>
                    <hr>
                    <div class="card__info">
                        <img src="../images/<%= item.profile_image %>.png" alt="" width=40>
                        <p>Posted by <a href="/users/<%= item.user_id %>"><%= item.username %></a></p>
                        <a href="/posts/<%= item.post_id %>"><i class="far fa-comment-alt"></i></a>
                    </div>
                </div>

            </div>
            <% }) %>
        </div>
        <div><a class="createpost" href="/posts/create">Create a New Post</a></div>
    </main>
    <%- include("../../components/scripts_links.ejs") %>
    <script>
        let del = (id, user_id) => {
            axios.delete('/posts/' + id + "/" + user_id)
                .then((result) => {
                    location.reload();
                }).catch((err) => {
                    alert('error ' + err)
                });
        };
    </script>
</body>

</html>